body {
    font-family: Arial;
}

.header {
    background-color: #683667;
    color: white;
    padding: 20px;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 10px;
    background-color: beige;
    text-align:center;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}
      
th, td {
    text-align:center;
    padding: 8px;
    border-bottom: 1px solid #ddd; 
}

#comp_text{
    color: blue;
}

#cpu_price, #cpu_cooler_price, #mobo_price, #memory_price, #storage_price, #gpu_price, #case_price, #psu_price, #compound_price, #monitor_price, #os_price{
    color: green;
}

#cpu_name, #cpu_cooler_name, #mobo_name, #memory_name, #storage_name, #gpu_name, #case_name, #psu_name, #compound_name, #monitor_name, #os_name{
    color: orange;
}

#total_price, #total_price_label{
    display: inline
}

.price{
    float: right;
    font-size: 36px;
    margin-top: 30px;
}

.compatibility{
    clear: right;
    margin-top: 60px;
    font-size: 24px;
}

#submit {
    margin: .5em;
    font-size: 2em;
    text-transform: capitalize;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 2px;
  }
  
#submitbutton {
    display: flex; 
    justify-content: center;
}

#choosePartButt {
    margin: .5em;
    font-size: 1em;
    text-transform: capitalize;
    background-color: #683667;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px;
    border-radius: 2px;
  }
  
#partButton {
    display: flex; 
    justify-content: center;
}

/*animation*/
@keyframes fade{
    from{opacity: .3}
    to{opacity: .8}
}

#compat_spacing
{
    margin-top:25px;
    margin-bottom:25px;
    animation-name: fade;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}