/*Remove spin buttons*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
  font-size: 1.2em;
  margin: 0;
}

#outside {
  background-image: url("request_wallpaper.png");
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 70%;
  /* To see the limits of the form */
  padding: 1em;
  border: 3px solid #000000;
  border-radius: 1em;
  
}
#survey-form {
  background-color: beige;
}

#terms {
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */
}

/*#terms_of_service {
  background: rgb(255, 142, 97)00;
}*/

fieldset { 
  margin: 10px;
 }

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}

#bruh_block
{
  margin: 0
}

div + div {
  margin-top: 1em;
  }

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  /* font: 1em sans-serif; */

/*   -moz-box-sizing: border-box;
       box-sizing: border-box; */

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  /*background-color: #f8f8f8;*/
  resize: none;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  margin: .5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#submitbutton {
  display: flex; 
  justify-content: center;
}