/*login overlay*/
 /* Add styles for the login overlay */
 .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  }
  
  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  
  .login-box {
  position:absolute;
  top:50%;
  left:50%;
  margin-top: -250px;
  margin-left: -189px;
  padding:80px 40px;
  background-color:rgb(255, 255, 255);
  opacity: 0;
  /*animation*/
  animation: fadeIn 1s ease-in-out forwards;
  }

  input[type="username"], input[type="password"]{
      display:block; 
      margin-bottom:25px; 
      width:100%; 
      border:none; 
      border-bottom:solid #d9d9d9; 
   }
  
  #flash-message{
      visibility: hidden;
      position: absolute;
      top: 5%;
      left: 50%;
      background-color: rgb(255, 251, 9);
      width: 450px;
      height: 50px;
      line-height: 50px;
      transform: translate(-50%, -50%);
      text-align: center;
  }
  
  #flash-message-2{
      visibility: hidden;
      position: absolute;
      top: 5%;
      left: 50%;
      background-color: rgb(128, 255, 9);
      width: 350px;
      height: 50px;
      line-height: 50px;
      transform: translate(-50%, -50%);
      text-align: center;
  }

/*animation*/
@keyframes fade{
  from{opacity: .3}
  to{opacity: .8}
}

/*search functionality*/
.search-container {
  position: relative;
  display: flex;
  align-items: center;
}
.search-results {
  position: absolute;
  top: 100%;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  max-height: 200px;
  width: 770px;
  background-color: white;
}
.search-input {
  width:60%; 
}
.search-result {
  padding: 3px;
  cursor: pointer;
  font-size: 14px;
}
.search-result:hover {
  background-color: #fbff00;
}

/*Remove spin buttons*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

body {
  font-size: 1.2em;
  margin: 0;
}

#outside {
  background-image: url("request_wallpaper.png");
}

h1 {
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 70%;
  /* To see the limits of the form */
  padding: 1em;
  border: 3px solid #000000;
  border-radius: 1em;
  
}
#survey-form {
  background-color: beige;
}

#terms {
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */
}

#accountID-label, #accountIDLabel
{
  display: none;
}

/*#terms_of_service {
  background: rgb(255, 142, 97)00;
}*/

fieldset { 
  margin: 10px;
 }

legend {
  font-weight: 700;
}

#number {
  width: 150px;
}

#bruh_block
{
  margin: 0
}

div + div {
  margin-top: 1em;
  }

input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  /* font: 1em sans-serif; */

/*   -moz-box-sizing: border-box;
       box-sizing: border-box; */

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  /*background-color: #f8f8f8;*/
  resize: none;
}

#submit {
  margin: .5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#submitbutton {
  display: flex; 
  justify-content: center;
}