/*login overlay*/
/* Add styles for the login overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -189px;
  padding: 80px 40px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  /*animation*/
  animation: fadeIn 1s ease-in-out forwards;
}

input[type="text"],
input[type="password"] {
  display: block;
  margin-bottom: 25px;
  width: 100%;
  border: none;
  border-bottom: solid #d9d9d9;
}

#flash-message {
  visibility: hidden;
  position: absolute;
  top: 5%;
  left: 50%;
  background-color: rgb(255, 251, 9);
  width: 350px;
  height: 50px;
  line-height: 50px;
  transform: translate(-50%, -50%);
  text-align: center;
}

#flash-message-2 {
  visibility: hidden;
  position: absolute;
  top: 5%;
  left: 50%;
  background-color: rgb(128, 255, 9);
  width: 350px;
  height: 50px;
  line-height: 50px;
  transform: translate(-50%, -50%);
  text-align: center;
}

body {
  font-family: Arial;
}

header {
  display: flex;
  align-items: center;
  height: 80px;
}

.header {
  background-color: #683667;
  color: white;
  flex-grow: 1;
  text-align: center;
}

.logo {
  background-color: #683667;
  height: 100%;
}

.logo img {
  height: 100%;
}
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 10px;
  background-color: beige;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

#comp_text {
  color: blue;
}

#cpu_price,
#cpu_cooler_price,
#mobo_price,
#memory_price,
#storage_price,
#gpu_price,
#cases_price,
#psu_price,
#compound_price,
#monitor_price,
#os_price {
  color: green;
}

#cpu_name,
#cpu_cooler_name,
#mobo_name,
#memory_name,
#storage_name,
#gpu_name,
#cases_name,
#psu_name,
#compound_name,
#monitor_name,
#os_name {
  color: orange;
}

#total_price,
#total_price_label {
  display: inline;
}

.price {
  float: right;
  font-size: 36px;
  margin-top: 30px;
}

.compatibility {
  clear: right;
  margin-top: 60px;
  font-size: 24px;
}

#clear {
  margin: 0.5em;
  font-size: 2em;
  text-transform: capitalize;
  background-color: rgb(0, 140, 255);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#submit {
  margin: 0.5em;
  font-size: 2em;
  text-transform: capitalize;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#submitbutton,
#clearButton {
  display: inline-block;
}

#bottomButtonContainer {
  text-align: center;
}

.choosePartButt {
  margin: 0.5em;
  font-size: 1em;
  text-transform: capitalize;
  background-color: #683667;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px;
  border-radius: 2px;
}

#partButton {
  display: flex;
  justify-content: center;
}

/*animation*/
@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 0.8;
  }
}

#compat_spacing {
  margin-top: 25px;
  margin-bottom: 25px;
  animation-name: fade;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
